<form [formGroup]="form" class="center-content" (submit)="submit()">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input
    matInput
    placeholder="example@yahoo.com"
    name="email"
    formControlName="email">
    <mat-icon matSuffix>email</mat-icon>
    <mat-error *ngIf="getEmail?.errors?.['required'] && getEmail?.touched">Email is required</mat-error>
    <mat-error *ngIf="getEmail?.errors?.['email'] && getEmail?.touched">Email form isn't correct</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input
    matInput
    placeholder="Username"
    name="Username"
    formControlName="username">
    <mat-icon matSuffix>person</mat-icon>
    <mat-error *ngIf="getUsername?.errors?.['required'] && getUsername?.touched">First Name is required</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input
    type="password"
    matInput placeholder="Your password"
    name="password"
    formControlName="password">
    <mat-icon matSuffix>vpn_key</mat-icon>
    <mat-error *ngIf="getPassword?.errors?.['required'] && getPassword?.touched">Password is required</mat-error>
    <mat-error *ngIf="getPassword?.errors?.['minlength'] && getPassword?.touched">Password length must be more than 3 symbol</mat-error>
    <mat-error *ngIf="getPassword?.errors?.['maxlength'] && getPassword?.touched">Password length must be less than 10 symbol</mat-error>
    </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Confirm Password</mat-label>
    <input
    type="password"
    matInput placeholder="Confirm Password"
    name="passwordConfirm"
    formControlName="passwordConfirm">
    <mat-icon matSuffix>vpn_key</mat-icon>
    <mat-error *ngIf="getConfirmPassword?.invalid && getConfirmPassword?.touched">
      <span *ngIf="getConfirmPassword.hasError('passwordsNotMatching')">
        Confirm Password doesn't match Password or it is empty.
      </span>
    </mat-error>
  </mat-form-field>

  <button  class="mat-button"  type="submit" mat-raised-button color="primary">Register</button> <br>
</form>
